@import 'tailwindcss';

@theme {
  --color-backgroundColor: #000;
  --color-textColor: #eee;
  --color-primary: #d00202;
  --color-secondary: #ff6600;
  --color-tertiary: #ff0066;
  --color-quaternary: #00ff00;
}
