@import 'tailwindcss';

@theme {
  --color-backgroundColor: #020613;
  --color-textColor: #eee;
  --color-primary: #d00202;
  --color-secondary: #9b9b9b;
  --color-tertiary: #33ddff;
  --color-quaternary: #17171c;

  --animate-fadeIn: fade-in 0.5s ease-in-out forwards;
  --animate-fadeOut: fade-out 0.5s ease-in-out forwards;

  --animate-fadeIn02s: fade-in07 0.2s ease-in-out forwards;
  --animate-shock: shock 0.15s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

  @keyframes fade-in07 {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes shock {
    10% {
      transform: translate3d(-4px, 0, 0);
    }
    20% {
      transform: translate3d(2px, 0, 0);
    }
    30% {
      transform: translate3d(-2px, 0, 0);
    }
    40% {
      transform: translate3d(4px, 0, 0);
    }
    50% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}
