@import 'tailwindcss';

@theme {
  --color-backgroundColor: #000;
  --color-textColor: #eee;
  --color-primary: #d00202;
  --color-secondary: #ff6600;
  --color-tertiary: #ff0066;
  --color-quaternary: #00ff00;

  --animate-fadeIn: fade-in 0.5s ease-in-out forwards;
  --animate-fadeOut: fade-out 0.5s ease-in-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
