@import 'tailwindcss';

@theme {
  --color-backgroundColor: #020613;
  --color-textColor: #eee;
  --color-primary: #d00202;
  --color-secondary: #9b9b9b;
  --color-tertiary: #33ddff;
  --color-quaternary: #17171c;

  --animate-fadeIn: fade-in 0.5s ease-in-out forwards;
  --animate-fadeOut: fade-out 0.5s ease-in-out forwards;

  --animate-fadeIn02s: fade-in07 0.2s ease-in-out forwards;

  @keyframes fade-in07 {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
