@import url('@/settings/global.css');

.TeamIntroduction {
  @apply relative flex min-h-screen w-full flex-col items-center justify-center space-y-4 py-14;

  .title {
    @apply flex w-full flex-row items-center justify-center gap-4;

    .actor {
      width: (unit(image-width(@img))) / 1280 * 100%;

      @img: './img/actor.svg';

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        content: '';

        @apply inline-block w-full bg-contain bg-center bg-no-repeat;
      }
    }

    .expert {
      width: (unit(image-width(@img))) / 1280 * 100%;

      @img: './img/expert.svg';

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        content: '';

        @apply inline-block w-full bg-contain bg-center bg-no-repeat;
      }
    }

    &::after {
      height: 1px;
      content: '';
      @apply inline-block flex-1 bg-white;
    }
  }

  .row {
    @apply mt-10 grid w-full grid-cols-2 gap-4 pb-16 md:grid-cols-4;
  }

  .row2 {
    align-items: center;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    place-self: unset;

    @apply mt-10 grid w-full gap-4 pb-16 lg:w-1/2;
  }
}
