@import url('../../tailwind.config.css');

body {
  margin: 0;

  text-size-adjust: none;
  overscroll-behavior: none;

  font-family:
    Inspire, 'Microsoft JhengHei', 'PingFang TC', 'Heiti TC', 'Apple LiGothic Medium', sans-serif;

  @apply bg-backgroundColor text-textColor;
}

.App {
  @apply absolute h-full w-full;
}
